In [24]:
import numpy as np
import pandas as pd
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import missingno as msno
from sklearn.preprocessing import LabelEncoder

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv')

In [33]:
# status = np.random.randint(2, size=drinks.shape[0])
status = np.random.choice(['Yes', 'No', 'Other'], drinks.shape[0], p=[0.2, 0.5, 0.3])
le = LabelEncoder()
drinks['status'] = status
drinks['status_id'] = le.fit_transform(drinks['status'].astype(str))
drinks.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,status,status_id
0,Afghanistan,0,0,0,0.0,Asia,No,0
1,Albania,89,132,54,4.9,Europe,No,0

In [21]:
drinks.groupby('continent')['beer_servings'].size()

continent
Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: beer_servings, dtype: int64

In [45]:
mode = lambda x: x.mode() if len(x) > 2 else np.array(x)
drinks.groupby('continent').status_id.agg(mode)

continent
Africa                0
Asia                  0
Europe           [0, 1]
North America         0
Oceania               0
South America         1
Name: status_id, dtype: object

In [47]:
drinks.groupby('continent').status.agg(lambda x: x.value_counts().index[0])

continent
Africa              No
Asia                No
Europe           Other
North America       No
Oceania             No
South America    Other
Name: status, dtype: object

In [48]:
drinks.groupby('continent').status.size()

continent
Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: status, dtype: int64